* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /* PALETA DE CORES */
    --bgcolor: #0a0a0a;
    --main: #1aff8c;
    --alt: #8b0000;
    --text: #020202;
    --shadows: #e5e5e5;

    --main-hover: #13cc70;
    --main-glow: rgba(26, 255, 140, 0.25);
    --alt-hover: #b30000;
    --border: #222222;
    --text-muted: #9a9a9a;

    /* FONTES */
    --title: 'Base 02', sans-serif;
    --subtitle: 'Special Elite', sans-serif;
    --paragraph: 'Barlow Semi Condensed', sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main);
}

::-webkit-scrollbar-thumb {
    background-color: var(--alt);
}

/* CORPO DO SITE */
body {
    overflow-x: hidden;
    color: #f2f2f2;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bgcolor);
    height: 300dvh;
}

.bg-hero-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(60%);
}

.header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: auto;
    padding: 0.7rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: auto;
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
}

.header nav {
    display: flex;
    gap: 30px;
    font-family: var(--paragraph);
}

.hero {
    position: relative;
    height: 100vh;
    min-height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    color: #E5E5E5;
}

.glitch-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 3;

    background:
        repeating-linear-gradient(0deg,
            var(--main) 0px,
            var(--main-hover) 50px,
            transparent 1px,
            transparent 3px);

    mix-blend-mode: overlay;
    animation: glitchFlicker 0.15s infinite;
}

/* piscadas rápidas */
@keyframes glitchFlicker {
    0% {
        opacity: 0.05;
    }

    50% {
        opacity: 0.15;
    }

    100% {
        opacity: 0.05;
    }
}

/* glitch forte ocasional */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    z-index: 2;
    opacity: 0;
}

.hero.glitch-active::before {
    animation: glitchShift 0.3s;
}

@keyframes glitchShift {
    0% {
        transform: translate(0, 0);
        filter: hue-rotate(0deg);
        opacity: 0.2;
    }

    20% {
        transform: translate(-10px, 5px);
        filter: hue-rotate(90deg);
    }

    40% {
        transform: translate(10px, -5px);
        filter: hue-rotate(-90deg);
    }

    60% {
        transform: translate(-5px, 2px);
    }

    80% {
        transform: translate(5px, -2px);
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}